<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<style>
			.backg {
                background: rgb(37, 37, 37);
            }
			.profileTable {
				color: rgb(226, 226, 226);
				padding: 5px;
				
			}
			.padding {
				padding-right: 50px;
			}
		</style>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</head>
	<body class="backg">
				<nav class="menu menu--shylock">
					<ul class="menu__list">
						<li class="menu__item"><a href="Profile" class="menu__link"><%= profile.FirstName%>'s Profile</a></li>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<li class="menu__item"><a href="myassignments" class="menu__link">My Assignments</a></li>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<li class="menu__item menu__item--current"><a href="#" class="menu__link">Add Assignment</a></li>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<li class="menu__item"><a href="/mygroups" class="menu__link">My groups</a></li>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<li class="menu__item"><a href="/logout" class="menu__link">Logout</a></li>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</ul>
				</nav>
				
		<script src="js/classie.js"></script>
		<script src="js/clipboard.min.js"></script>
		<form action="/addassignments/add" method="post">
			<div class="form-group">
			  <label for="exampleFormControlInput1">Assignment name: </label>
			  <input type="text" class="form-control" id="exampleFormControlInput1" name="AName">
			</div>
			<div class="form-group">
				<label for="exampleFormControlInput1">Start date: </label>
				<input type="date" class="form-control" name='stDate' value="2020-01-01">
			</div>
			<div class="form-group">
				<label for="exampleFormControlInput1">Start time: </label>
				<input type="time" class="form-control" value="00:00" name='stTime'>
			</div>
			<div class="form-group">
				<label for="exampleFormControlInput1">End date: </label>
				<input type="date" class="form-control" name='enDate' value="2020-01-01">
			</div>
			<div class="form-group">
				<label for="exampleFormControlInput1">End time: </label>
				<input type="time" class="form-control" value="00:00" name='enTime'>
			</div>
			
			<div class="form-group">
			  <label for="exampleFormControlSelect1">Select group</label>
			  <select class="form-control" id="exampleFormControlSelect1" name='assignmentGroup'>
				<%for(var i=1; i <= grp.length;i++) {%>
				<option>Group <%=i%> </option>
				<%}%>
			  </select>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block">Add Assignment</button>
			  </div>
		  </form>
		  <div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Holy guacamole!</strong> You should check in on some of those fields below.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
	</body>
</html>
