<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../css/demo.css" />
		<link rel="stylesheet" type="text/css" href="../css/component.css" />
		<style>
			.backg {
                background: rgb(37, 37, 37);
            }
			.profileTable {
				color: rgb(226, 226, 226);
				padding: 5px;
				
			}
			.padding {
				padding-right: 50px;
			}
		</style>
	</head>
	<body class="backg">
				<nav class="menu menu--shylock">
					<ul class="menu__list">
						<li class="menu__item"><a href="/profile" class="menu__link"><%= profile.FirstName%>'s Profile</a></li>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<li class="menu__item"><a href="/myassignments" class="menu__link">My Assignments</a></li>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<li class="menu__item"><a href="/addassignments" class="menu__link">Add Assignment</a></li>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<li class="menu__item menu__item--current"><a href="/mygroups" class="menu__link">My groups</a></li>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<li class="menu__item"><a href="/logout" class="menu__link">Logout</a></li>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</ul>
				</nav>
				
		<script src="../js/classie.js"></script>
		<script src="../js/clipboard.min.js"></script>
		<form action='/mygroups/addgroup'>
			<button class="btn btn-primary" type='submit'><h3><span class="badge">Add new Group</span></h3>
			</button>
			</form>
		<%if(grp.length>0) { 
			for(var v=1; v <= grp.length; v++) {
			%>
			<form action='/mygroups/<%= v %>'>
			<button class="btn btn-primary" type='submit'>
				Group:  <span class="badge badge-light"><%= v %></span>
			  </button>
			</form>
		<% } } else {%>
			No record found
			<% } %> 
		
	</body>
</html>
